body {
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
}

p, h2 {
    text-align: center;
}

ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 16px;
}

button {
    border: none;
    font-size: 16px;
    font-weight: bold;
    border-radius: 8px;
    padding: 10px 20px;
    color: white;
}

#rock {
    background-color:  #4CAF50;
}

#paper {
    background-color: #f44336;
}

#scissors {
    background-color: #008CBA;
}